body {padding: 3%;
    margin: 2%;
    align-content:space-around;
}

h1 {align-content:space-around;
    text-align: center;
    padding: 1%;
    margin: 1%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {text-align: center;
    padding: 1%;
    margin: 1%;
    color:rgb(100, 6, 6);
    font-size: 30px;
}


div {
    position: static;
    margin: 2%;
    border: 4px solid rgb(41, 41, 124);
    padding: 3%;
    height: 300px;
    width: 300px;
    background-color: cadetblue;
    display:inline-table;
    box-sizing: border-box;
} 

.certas { 
    font-size: 18px;
    text-decoration: underline rgb(29, 82, 29);
    text-transform: uppercase;
    color: rgb(29, 82, 29);

}

.erradas {
    font-size: 18px;
    text-decoration: underline rgb(219, 19, 19);
    text-transform: uppercase;
    color: rgb(219, 19, 19);
}