body {padding: 3%;
    margin: 2%;
    align-content:space-around;

}

h1 {text-align:center;
    padding: 1%;
    margin: 1%;
}

h2 {text-align: center;
    padding: 1%;
    margin: 1%;
}


div {
    position: static;
    margin: 2%;
    border: 4px solid rgb(41, 41, 124);
    padding: 3%;
    height: 300px;
    width: 300px;
    background-color: cadetblue;
    display:inline-table;
    box-sizing: border-box;
} 